.jscolor {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.rowHead {
    margin-top: 20px;
}

.rowHead2 {
    margin-top: 40px;
}

.skutterHeading {
    margin-bottom: 15px;
}